@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype'),
         url('../../assets/fonts/AvenirNextLTPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirDemi';
    src: url('../../assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype'),
         url('../../assets/fonts/AvenirNextLTProDemi.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}

@font-face {
    font-family: 'AvenirBold';
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype'),
         url('../../assets/fonts/AvenirNextLTProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


