$page-header-text-size-desktop: 3.75rem;
$page-header-line-height-desktop: 4.25rem;
$page-header-text-weight-desktop: bold 700;

$page-header-text-size-mobile: 1.875rem;
$page-header-line-height-mobile: 2.5rem;
$page-header-text-weight-mobile: bold 700;

$section-header-text-size-desktop: 2.25rem;
$section-header-line-height-desktop: 2.75rem;
$section-header-text-weight-desktop: 700;

$section-header-text-size-mobile: 1.5rem;
$section-header-line-height-mobile: 2rem;
$section-header-text-weight-mobile: bold 700;

$subheader-text-size-desktop: 1.5rem;
$subheader-line-height-desktop: 2rem;
$subheader-text-weight-desktop: demi 600;

$subheader-text-size-mobile: .875rem;
$subheader-line-height-mobile: 1.375rem;
$subheader-text-weight-mobile: demi 600;

$body-copy-text-size-desktop: 1.25rem;
$body-copy-line-height-desktop: 1.75rem;
$body-copy-text-weight-desktop: regular 400;

$body-copy-text-size-mobile: .8125rem;
$body-copy-line-height-mobile: 1.125rem;
$body-copy-text-weight-mobile: regular 400;

$footer-copy-text-size-desktop: .875rem;
$footer-copy-line-height-desktop: 1.25rem;
$footer-copy-text-weight-desktop: regular 400;

$footer-copy-text-size-mobile: .8125rem;
$footer-copy-line-height-mobile: 1.125rem;
$footer-copy-text-weight-mobile: regular 400;

$labels-and-buttons-text-size-desktop: 1rem;
$labels-and-buttons-line-height-desktop: 1.25rem;
$labels-and-buttons-text-weight-desktop: bold 700;

$labels-and-buttons-text-size-mobile: .625rem;
$labels-and-buttons-line-height-mobile: 1.25rem;
$labels-and-buttons-text-weight-mobile: bold 700;



$brainflix-black: #323232;
$silver: silver;
$white: white;
$brainflix-blue: #0095FF;
$brainflix-dark-blue: #0065AD;
$brainflix-dark-black: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

