@import "../../styles//partials/fonts";
@import "../../styles//partials/variables";




h1 {

    font-size: $page-header-text-size-mobile;
    line-height: $page-header-line-height-mobile;
    font-weight: $page-header-text-weight-mobile;
    font-family: "AvenirBold";
    color: $brainflix-black;
}

h2 {

    font-size: $subheader-text-size-mobile;
    line-height: $subheader-line-height-mobile;
    font-weight: $subheader-text-weight-mobile;
    font-family: "AvenirDemi";
}

h3 {

    font-size: $subheader-text-size-mobile;
    line-height: $subheader-line-height-mobile;
    font-weight: 100;
    font-family: "Avenir";
}

p {

    font-size: $body-copy-text-size-mobile;
    line-height: $body-copy-line-height-mobile;
    font-weight: $body-copy-text-weight-mobile;
    font-family: "Avenir";
}

button {

    background-color: $brainflix-blue;
}

@media (min-width: 48rem) {

    h1 {

        font-size: $page-header-text-size-desktop;
        line-height: $page-header-line-height-desktop;
        font-weight: $page-header-text-weight-desktop;
        font-family: "AvenirBold";
    }
    
    h2 {
    
        font-size: $subheader-text-size-desktop;
        line-height: $subheader-line-height-desktop;
        font-weight: $subheader-text-weight-desktop;
        font-family: "AvenirDemi";
    }
    
    h3 {
    
        font-size: $subheader-text-size-desktop;
        line-height: $subheader-line-height-desktop;
        font-weight: 100;
        font-family: "Avenir";
    }
    
    p {
    
        font-size: $body-copy-text-size-desktop;
        line-height: $body-copy-line-height-desktop;
        font-weight: $body-copy-text-weight-desktop;
        font-family: "Avenir";
    }
    

}



