.next-video {

    display: flex;
    margin: 16px;
    height: 80px;

    &__image {

        height: 80px;
        width: 132px;
        border-radius: 4px;
        flex-shrink: 0;
        margin-right: 16px;
    }

    &__content {

        display: flex;
        flex-direction: column;

        h2 {

            margin: 0;


        }

        h3 {

            margin: 0;
            padding-top: 4px;
        }
    }
}