.next-video-section {

    @media (min-width: 1280px) {
        width: 40%;

        border-left: 1px #E1E1E1 solid ;
        
    }
}

a {
    text-decoration: none;
}

.next-videos--h2 {
    color: silver;
    margin-left: 16px;

    @media (min-width: 768px) {
        margin: 36px;
        
    }
}

.next-video {

    display: flex;
    margin: 16px;
    height: 80px;
    

    @media (min-width: 768px) {
        margin: 36px;
        // width: 50vw;
    }

   

    

    &__image {

        height: 80px;
        width: 132px;
        border-radius: 4px;
        flex-shrink: 0;
        margin-right: 16px;
    }

    &__content {

        display: flex;
        flex-direction: column;
        padding-top: 4px;




        @media (min-width: 768px) {

            h2,
            h3 {

                font-size: 20px;
                line-height: 20px;
                padding-bottom: 8px;
                padding-top: 8px;
                max-width: 300px;
            }
        }




        &--title {

            margin: 0;
            color: black;
            font-family: 'AvenirDemi';



        }

        &--channel {

            margin: 0;
            padding-top: 4px;
            color: black;



        }
    }
}