.next-video-section {

    margin: 0;

    @media (min-width: 80rem) {
        width: 40%;

        border-left: .0625rem #E1E1E1 solid ;
        
    }
}

a {
    text-decoration: none;
}

.next-videos--h2 {
    color: silver;
    margin-left: 1rem;

    @media (min-width: 48rem) {
        margin: 2.25rem;
        
    }
}

.next-video {

    display: flex;
    margin: 1rem;
    height: 5rem;
    

    @media (min-width: 48rem) {
        margin: 2.25rem;
       
    }

   

    

    &__image {

        height: 5rem;
        width: 8.25rem;
        border-radius: .25rem;
        flex-shrink: 0;
        margin-right: 1rem;
    }

    &__content {

        display: flex;
        flex-direction: column;
        padding-top: .25rem;




        @media (min-width: 48rem) {

            h2,
            h3 {

                font-size: 1.25rem;
                line-height: 1.25rem;
                padding-bottom: .5rem;
                padding-top: .5rem;
                max-width: 18.75rem;
            }
        }




        &--title {

            margin: 0;
            color: black;
            font-family: 'AvenirDemi';



        }

        &--channel {

            margin: 0;
            padding-top: .25rem;
            color: black;



        }
    }
}